/*   permission java.net.SocketPermission "127.0.0.1:1024-65535", "accept,listen,resolve, connect";
  permission java.net.SocketPermission "127.0.1.1:1024-65535", "accept,listen,resolve, connect";
  permission java.net.SocketPermission "127.0.1.1:2000-65535", "accept,listen,resolve, connect";
  permission java.net.SocketPermission "localhost:2000-65535", "accept,listen,resolve, connect";
*/

grant {
  permission java.security.AllPermission;
};

