h1,h2,h3,h4,h5,h6{
color: #A4A400;;
font-size: 18pt;
font-family: "Lucida  Sans  Unicode", Helvetica, sans-serif;
text-align: left;
text-decoration: underline; 
}
 
h1{
font-size: 22pt;
text-align: center;
font-weight: bold;
}

span.h{
background-color:#F0F0F0;
}

body {
background-image: url("../images/sfondo7.jpg");
background-repeat: repeat;
background-attachment: fixed;
background-color: #FFFFFF;
color: #404040;
font-size: 11pt;
font-family: Georgia, Garamond, serif; 
}
 
a {
color: #A4A400;
}
 
.figure{
text-align: right;
}
